.product {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 0, 0.021);
    border-radius: 6px;
    color: yellow;
    box-sizing: border-box;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: background-color 0.3s ease;
    user-select: none;
}
.product div {
    text-align: center;
}
.product.unlocked {
    cursor: pointer;
}
.product:not(.unlocked) {
    cursor: not-allowed;
    border: 1px solid rgb(56, 56, 56);
    color: gray;
}
.product:not(.unlocked) img {
    filter: grayscale(1) blur(4px);
}
.product.unlocked:hover:not(.enabled) {
    background-color: rgba(153, 205, 50, 0.096);
}
.product.enabled {
    background-color: rgba(153, 205, 50, 0.151);
    border-color: yellow
}
.product_cost {
    font-size: 0.8em;
    text-align: center;
    color: rgba(255, 255, 0, 0.651);
    padding-top: 2px;
}

.products {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.heading {
    color: yellow;
    margin-bottom: 24px;
}

.background_image {
    position: absolute;
    z-index: -1;
}